.il-carrello {
    width: 48px;
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .icona-carrello {
        width: 24px;
        height: 24px;
    }

    .item-count {
        position: absolute;
        font-size: 10px;
        font-weight: bold;
        bottom: 13px;
    }
}